body {
  margin: 0;
  padding: 0;
}

:root {
  --color--primary: #00acd7;
  --box--shadow-button: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #00acd7, #006781 50%, #00acd7) 0/200%;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #cacacaf1;
}

.container {
  max-width: 1410px !important;
}

.color_primary {
  color: var(--color--primary);
}

.bg_primary {
  background-color: var(--color--primary);
}

.flex-left {
  margin-right: auto;
}

.flex-grow {
  flex: 1;
}

.flex-col {
  max-height: 100%;
}

#header,
.header_wrapper {
  box-shadow: 0 3px 6px rgb(47 72 88 / 23%);
  background-position: 50% 0;
  background-size: cover;
  position: relative;
  transition: background-color 0.3s, opacity 0.3s;
  width: 100%;
  z-index: 30;
}

#logo {
  padding: 5px 0px;
  max-height: 72px;
}

.button_effect {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: var(--box--shadow-button);
  outline: none;
}
