@font-face {
  font-family: 'SVN-Poppins';
  src: url('../public/fonts/SVN-Poppins-Medium.ttf') format('truetype');
}

:root {
  --color--primary: #00acd7;
  --color-secondary: rgba(0, 0, 0, 0.03);
  --color-text-primary: #0a0a0a;
  --color-dark: #f1f1f1;
  --font-family-primary: 'SVN-Poppins';
  --box--shadow-button: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SVN-Poppins' !important;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #00acd7, #006781 50%, #00acd7) 0/200%;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #cacacaf1;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

.container {
  max-width: 1410px !important;
}

.color_primary {
  color: var(--color--primary);
}

.bg_primary {
  background-color: var(--color--primary);
}
.font_weight_500 {
  font-weight: 500;
}

.divider {
  height: 1px;
  border-top: 1px solid #adadad;
}

.font_weight_600 {
  font-weight: 600;
}

.font_size_14 {
  font-size: 14px;
}

.font_size_16 {
  font-size: 16px;
}

.font_size_20 {
  font-size: 20px;
}

.flex-left {
  margin-right: auto;
}

.flex-right {
  margin-left: auto;
}

.flex-grow {
  flex: 1;
}

.flex-col {
  max-height: 100%;
}

#header,
.header_wrapper {
  box-shadow: 0 3px 6px rgb(47 72 88 / 23%);
  background-position: 50% 0;
  background-size: cover;
  transition: background-color 0.3s, opacity 0.3s;
  width: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;

  .menu-button {
    width: 42px;
    height: 42px;
    color: hsla(0, 0%, 40%, 0.85);

    .iconify {
      width: 28px;
      height: 28px;
    }
  }
}

#logo {
  padding: 10px 0px;
  max-height: 72px;
  width: auto;
}

.btn0 {
  padding: 0px;
  border: none;
  line-height: 42px;
  font-size: 0.85rem;
}

.button_effect,
.button_text_icon {
  width: 130px;
  height: 40px;
  border-radius: 32px;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: var(--box--shadow-button);
  outline: none;

  &__primary {
    // background-color: var(--color--primary);
    background: linear-gradient(92.18deg, #00acd7 5.74%, #005cc9 98.17%);
    color: #fff;
  }

  &__white {
    background-color: #fff;
    color: var(--color--primary);
  }
}

.button_text_icon .iconify {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  margin-top: -2px;
}

.button_effect span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-style: normal;
}

.button_effect:hover {
  background: transparent;
  box-shadow: none;
  color: var(--color--primary);
}

a:hover {
  color: var(--color--primary);
}

.button_effect:hover::before {
  height: 100%;
}

.button_effect:hover::after {
  width: 100%;
}

.button_effect:hover span::before {
  height: 100%;
}

.button_effect:hover span::after {
  width: 100%;
}

.button_effect::before,
.button_effect span::before {
  height: 0%;
  width: 2px;
}

.button_effect span::after,
.button_effect::after {
  width: 0%;
  height: 2px;
}

.button_effect:before,
.button_effect:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  background: #00acd7;
  transition: all 0.3s ease;
}

.button_effect span:before,
.button_effect span:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.button-text-icon {
}

.nav li {
  position: relative;
}

.nav .menu_item {
  padding-right: 15px;
}

.nav .menu_item a {
  padding: 10px 0px;
  letter-spacing: 0.02em;
  font-size: 16px;
  transition: 0.3s ease;
  font-weight: 400;
  font-style: normal;
}

.menu_item a:hover {
  color: var(--color--primary) !important;
}

.has-dropdown .iconify {
  width: 24px;
  height: 24px;
}

#popover-service {
  margin-top: 10px;
}

.menu_item.has-dropdown::after {
  content: '';
  background-color: transparent;
  width: 80%;
  position: absolute;
  height: 30px;
  top: 30px;
  left: 0px;
}

.menu_item.has-dropdown:hover .menu_service {
  left: 0px;
  opacity: 1;
  visibility: visible;
}

.menu_service {
  background-color: #fff;
  color: #777;
  display: table;
  left: -99999px;
  margin: 0px;
  max-height: 0;
  min-width: 300px;
  opacity: 0;
  padding: 20px;
  position: absolute;
  text-align: left;
  transition: opacity 0.25s, visibility 0.25s;
  visibility: hidden;
  z-index: 100;

  &.nav-dropdown {
    box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
    margin-top: 30px !important;
    border-radius: 20px !important;
  }

  .sub_menu a {
    width: 100%;
    padding: 10px;
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 5px;

    img {
      transition: 0.3s;
      filter: brightness(0);
      margin-bottom: 2px;
    }

    .menu_icon {
      margin-right: 15px;
    }

    &:hover {
      color: var(--color--primary) !important;
      background-color: var(--color-secondary);

      img {
        color: var(--color--primary);
        filter: brightness(1);
      }
    }
  }
}

#main {
  background-color: #fff;
  padding-bottom: 20px;
}

section.top {
  padding: 130px 0px;
}

.section-content {
  width: 100%;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.col-left {
  margin-left: 0;
  margin-right: auto;
}

.col-right {
  margin-left: auto;
  margin-right: 0;
}

.section-content {
  .content {
    color: #000;
    font-style: normal;

    h1 {
      font-size: 1.7em;
      color: var(--color--primary) !important;
      margin-bottom: 0.5em;
    }
  }
}

.dark {
  color: var(--color-dark);
}

.img .img-inner {
  overflow: hidden;
}

.img,
.img .img-inner {
  position: relative;
}

.img {
  width: 100%;
  opacity: 1;
  transition: opacity 1s;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.row-title .col-title-1,
.row-title .col-title-2,
.row-title .col-title-3 {
  padding: 0 !important;
}

.row-title {
  h2 {
    color: var(--color--primary);
    font-size: 1.6em;
  }

  .col-title-1 {
    background: url('../public/images/introduction/background-title3.png');
    background-size: 100% 100%;

    h2 {
      padding: 25px 10px;
    }
  }

  .col-title-2 {
    background: url('../public/images/introduction/background-title2.png');
    background-size: 100% 100%;

    h2 {
      padding: 20px 0px;
    }
  }

  .col-title-3 {
    background: url('../public/images/introduction/background-title4.png');
    background-size: 100% 100%;

    h2 {
      padding: 35px 50px;
    }
  }
}

.col-inner {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 0 auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}

.describe {
  color: #777777;
  margin-top: 10px;
}

#slider-service {
  margin-top: 30px;

  .item-container {
    height: 450px;

    .container {
      height: 100%;
      align-items: center;
      display: grid;
      grid-template-columns: 35% 65%;
      justify-items: center;
      align-content: center;

      .image {
        width: 100%;
        img {
          height: auto;
          margin-left: 5%;
        }
      }

      .content-slider {
        width: 90%;
        margin: auto;

        .content {
          width: 100%;

          h3 {
            font-size: 26px;
            color: #00acd7;
            line-height: 28px;
            text-align: left;
          }

          p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: #5c5c5c;
            text-align: justify;
          }
        }
      }
    }
  }
}

.service_list {
  .service_item {
    h4 {
      font-size: 1.25rem;
      color: var(--color--primary);
    }

    p {
      line-height: 22px;
    }
  }
}

.item-container {
  position: relative;
  border: 1px solid #fafafa;
  box-shadow: -2px -2px 12px 0px #56c5ff80 inset;
  border-radius: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
  font-weight: 700 !important;
  font-style: normal;
}

.section-hot,
.section-why,
.section-news,
.section-question,
.section-customer,
.section-contact {
  margin-top: 100px;
}

#slider-hot {
  margin-top: 30px;
  width: 100%;
  flex-grow: 1;
  position: relative;
  padding: 30px 0px;
  min-height: 400px;

  .mySwiper {
    width: 100%;
    position: absolute;
    padding: 30px 0px;
  }

  .swiper-slide-active {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 33px rgba(0, 172, 215, 0.2);

    .hot-item {
      background: url('../public/images/introduction/khung-noibat1.png');
      background-size: 100% 100%;
      position: relative;
      opacity: 1;

      &::before {
        content: '';
        background: linear-gradient(
          135.01deg,
          rgba(5, 173, 216, 0.2) 2.07%,
          rgba(217, 217, 217, 0) 60.29%
        );
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
        border-radius: 14px 0px 0px 0px;
      }

      &::after {
        content: '';
        background: linear-gradient(
          135.01deg,
          rgba(5, 173, 216, 0.2) 2.07%,
          rgba(217, 217, 217, 0) 60.29%
        );
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100px;
        height: 100px;
        border-radius: 14px 0px 0px 0px;
        transform: rotate(-180deg);
      }
    }
  }

  .swiper-pagination {
    bottom: -5px;

    .swiper-pagination-bullet {
      width: 36px;
      height: 8px;
      transform: skew(40deg);
      border: 3px solid var(--color--primary);
      background-color: transparent;
      border-radius: 0px;
    }
  }

  .hot-item {
    height: 350px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    opacity: 0.5;

    .wrapper_image {
      padding: 15px;
      text-align: center;

      img {
        max-width: 150px;
        height: 100px;
      }
    }

    h4 {
      font-style: normal;
      color: var(--color--primary);
      line-height: 28px;
      text-align: center;
      font-size: 20px;

      &::before {
        color: #000;
      }
    }

    p {
      text-align: center;
      font-size: 16px;
    }
  }
}

.section-why {
  .row-why-1,
  .row-why-2 {
    margin-top: 50px;

    .title {
      color: var(--color--primary);
      margin-top: 5px;
    }

    .content {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .row-why-2 {
    flex-direction: row-reverse;
  }
}

.section-news {
  .wrapper_news {
    width: 100%;
    margin-top: 40px;

    .tabs {
      width: fit-content;
      box-shadow: var(--box--shadow-button);
      border-radius: 32px;

      .tab_item {
        border: none;
        background-color: #fff;
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 500;
        transition: 0.3s;

        &__left {
          border-radius: 32px 0px 0px 32px;
        }

        &__right {
          border-radius: 0px 32px 32px 0px;
        }

        &.active {
          color: var(--color--primary);
        }
      }
    }

    .news_list {
      .news_item {
        margin-top: 30px;
        border-radius: 10px;
        outline: 1px solid #d6d6d6;
        position: relative;

        .wrapper_content {
          padding: 15px 10px;

          .time {
            color: #858585;
          }

          .title {
            font-weight: 600;
          }
        }

        .type {
          padding: 4px 8px;
          display: inline-block;
          position: absolute;
          top: -20px;
          left: 20px;
          z-index: 2;
          line-height: 24px;
          color: #fff;
          font-size: 12px;

          &.news {
            background-color: #00acd7;
          }

          &.event {
            background-color: #f2c94c;
          }
        }
      }
    }
  }
}

.box-image {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.image-cover {
  background-position: 50% 50%;
  background-size: cover;
  height: auto;
  overflow: hidden;
  // padding-top: 100%;
  position: relative;
}

.section-question {
  background-image: url('../public/images/introduction/question-view.png');
  background-size: 100% 100%;

  .wrapper_question {
    margin-top: 30px;

    .ant-collapse {
      background-color: rgba(255, 255, 255, 0.5) !important;

      .ant-collapse-item {
        background: rgba(255, 255, 255, 0.2) !important;
        border: 1px solid #d6d6d6 !important;
        border-radius: 16px !important;
        margin-bottom: 20px;
      }

      .ant-collapse-header-text {
        font-size: 16px;
        font-family: 'SVN-Poppins';
        font-style: normal;
        font-weight: 500;
      }

      .ant-collapse-content-box {
        padding: 10px 48px;
        position: relative;

        p {
          font-family: 'SVN-Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          color: #858585;
        }

        .divider {
          height: 1px;
          border-top: 1px solid #d6d6d6;
          position: absolute;
          top: 0px;
          display: block;
        }
      }
    }

    .icon-edit,
    .icon-expand {
      width: 20px;
      height: 20px;
      transition: all 0.3s;

      &.active {
        transform: rotate(180deg);
      }
    }
  }
}

.section-contact {
  background-image: url('../public/images/introduction/bg-contact.png');
  background-size: 100% 100%;

  .contact_form {
    margin-top: 30px;
    padding: 30px 0px;
    background: linear-gradient(
      111.68deg,
      rgba(255, 255, 255, 0.29) 7.59%,
      rgba(255, 255, 255, 0.39) 102.04%
    );
    border: 3px solid rgba(255, 255, 255, 0.28);
    box-shadow: 0px 5px 41px rgb(0 172 215 / 30%);
    border-radius: 32px;

    .logo {
      height: 72px;
      width: auto;
    }

    .category_list {
      margin-top: 20px;
      display: flex;

      .category_item {
        padding: 6px 8px;

        button {
          line-height: 24px;
          box-shadow: var(--box--shadow-button);
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          border-radius: 32px;
          padding: 0px;
          background-color: #fff;
          color: #333333;
        }
      }
    }

    input {
      padding: 8px 12px;
      width: 100%;
      border: 1px solid transparent;
      outline: none;
      border-bottom: 1px solid #5c5c5c !important;

      &:focus {
        border: 1px solid #00bfa6;
      }
    }
  }
}

#footer {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);

  .logo {
    width: auto;
    height: 48px;
  }
}

.text-icon-info {
  img {
    min-width: 22px;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin-left: 15px;
  }
}

.button_social {
  box-shadow: var(--box--shadow-button);
  margin-right: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__large {
    width: 48px;
    height: 48px;
  }

  &__medium {
    width: 42px;
    height: 42px;
  }
}

.drawer_menu {
  .ant-drawer-content-wrapper {
    width: 350px;
    .ant-drawer-body {
    }
  }

  .ant-drawer-close {
    .anticon-close svg {
      fill: var(--color--primary);
      width: 24px;
      height: 24px;
    }
  }
}

.wrapper_drawer {
  background-color: #fff !important;
  .ant-menu {
    background-color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family-primary);
    border: none !important;

    .ant-menu-item {
      .menu_icon {
        filter: brightness(0) !important;
      }
    }

    .ant-menu-submenu-title:hover {
      background-color: #fff !important;
      color: var(--color--primary) !important;
    }
  }

  .ant-menu-item:hover {
    background-color: #fff !important;
    .menu_icon {
      filter: brightness(1) !important;
    }
    .ant-menu-title-content {
      color: var(--color--primary) !important;
    }
  }
  .ant-menu-item-selected {
    background-color: transparent;
    color: #000;
  }

  .ant-menu-submenu-selected {
    .ant-menu-submenu-title {
      color: #000 !important;
    }
  }
}

@media (min-width: 850px) {
  .hide-for-large {
    display: none !important;
  }
}

@media (max-width: 849px) {
  .hide-for-medium {
    display: none !important;
  }

  .d-block-for-medium {
    display: block !important;
  }

  .contact_form {
    button {
      font-size: 14px !important;
    }
  }
}

@media (max-width: 549px) {
  .hide-for-small {
    display: none !important;
  }

  .section-content {
    .content h1 {
      font-size: 1.3em;
    }
  }

  .section-news {
    .tab_item {
      padding: 5px 15px;
      font-size: 14px !important;
    }
  }

  .wrapper_question {
    .ant-collapse {
      .ant-collapse-header-text {
        font-size: 14px !important;
      }

      .ant-collapse-content-box {
        padding: 10px 32px !important;

        p {
          font-size: 12px !important;
        }
      }
    }
  }

  .contact_form {
    button {
      font-size: 12px !important;
    }
  }

  .row-title {
    h2 {
      font-size: 1.2em;
    }
  }
}

@media (min-width: 550px) {
  .show-for-small,
  [data-show='show-for-small'] {
    display: none !important;
  }
}
@media (min-width: 850px) {
  .show-for-medium,
  [data-show='show-for-medium'] {
    display: none !important;
  }
}
